@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.overall-container {
  text-align: center;
}
.main-heading {
  color: #ed2f3c;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
}
.sub-heading {
  color: #000000;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  margin: 16px;
}
.normal-text {
  font-family: "Roboto";
  font-size: 22px;
  margin: 16px;
}
.signature {
  font-family: "Caveat";
  font-size: 24px;
  margin-top: 45px;
}
.quote-text {
  color: #000000;
  font-family: "Lobster";
  font-size: 27px;
}
